@let _selectedPage = selectedPage();

<nav>
  <ul class="pagination">
    @if(showFirstLastButtons() || showFirstLastButtons() == undefined) {
    <li class="page-item" [class.disabled]="_selectedPage == undefined || _selectedPage <= 1">
      <button class="page-link" (click)="itemClick.emit(1)">
        <ng-content select="first">
          {{'first' | ng0Translate}}
        </ng-content>
      </button>
    </li>
    }

    @if(showNextPreviousButtons() || showNextPreviousButtons() == undefined) {
    <li class="page-item" [class.disabled]="_selectedPage == undefined || _selectedPage <= 1">
      <button class="page-link" (click)="itemClick.emit(_selectedPage! - 1)">
        <ng-content select="previous">
          {{'previous' | ng0Translate}}
        </ng-content>
      </button>
    </li>
    }

    @for (page of _visiblePages(); track page) {
    <li class="page-item" [class.active]="_selectedPage === page">
      <button class="page-link" (click)="itemClick.emit(page)">
        {{page}}
      </button>
    </li>
    }

    @if(showNextPreviousButtons() || showNextPreviousButtons() == undefined) {
    <li class="page-item" [class.disabled]="_selectedPage == undefined || _selectedPage >= _totalPagesCount">
      <button class="page-link" (click)="itemClick.emit(_selectedPage! + 1)">
        <ng-content select="next">
          {{'next' | ng0Translate}}
        </ng-content>
      </button>
    </li>
    }

    @if(showFirstLastButtons() || showFirstLastButtons() == undefined) {
    <li class="page-item" [class.disabled]="_selectedPage == undefined || _selectedPage >= _totalPagesCount">
      <button class="page-link" (click)="itemClick.emit(_totalPagesCount)">
        <ng-content select="last">
          {{'last' | ng0Translate}}
        </ng-content>
      </button>
    </li>
    }
  </ul>
</nav>

<style>
  .pagination {
    margin: 0;
  }
</style>