<div class="card">
    <div class="card-body">
        <h4>Bind to remote data</h4>
        <p>
            This data table is fetching data from https://dummyjson.com/docs/products.
        </p>

        <ng0-table [source]="source2" [pageable]="{}" [loadingIndicator]="'spinner'" [showHeader]="true"
                   [filterable]="true" sortable="true"
                   [loadingCover]="false" [autoLoad]="true" [height]="200" [showRowNumbers]="true">
            <!-- <ng0-table-col field="id" type="number" title="Product Id" [bold]="true" [filterable]="true"></ng0-table-col> -->
            <ng0-table-col field="title" title="Title" [filterable]="true"
                           cellClass="fw-bold text-primary"></ng0-table-col>
            <ng0-table-col field="sku" title="SKU"></ng0-table-col>
            <ng0-table-col field="category" title="Category"></ng0-table-col>
            <ng0-table-col field="price" type="currency" title="Price" cellClass="fw-bold"
                           sortable="true"></ng0-table-col>
            <ng0-table-col field="stock" type="number" title="Stock"></ng0-table-col>
            <ng0-table-col field="rating" type="number" title="Rating"></ng0-table-col>

            <ng0-table-col cellClass="text-end" [shrink]="true">
                <ng-template let-row>
                    <a type="button" class="btn btn-secondary" [routerLink]="['..', row.id, 'edit']">View</a>
                </ng-template>
            </ng0-table-col>

            <!-- <ng-container ngProjectAs="paging-first"> << </ng-container>
    <ng-container ngProjectAs="paging-last">>></ng-container>
    <ng-container ngProjectAs="paging-next"> > </ng-container>
    <ng-container ngProjectAs="paging-previous"> < </ng-container> -->
        </ng0-table>

    </div>
</div>


<div class="card mt-5">
    <div class="card-body">
        <h4>Bind to array</h4>

        <ng0-table [source]="source1" [pageable]="{}" [loadingIndicator]="'spinner'" [showHeader]="true"
                   [filterable]="true"

                   [loadingCover]="false" [autoLoad]="true" [height]="200" [showRowNumbers]="true">
            <ng0-table-col field="id" type="number" title="Id" [bold]="true" [filterable]="true"></ng0-table-col>
            <ng0-table-col field="name" title="name" [filterable]="true"></ng0-table-col>
            <ng0-table-col field="description" title="description" [filterable]="true"></ng0-table-col>
            <!-- <ng0-table-col field="id" [type]="{enum: {name: 'Enum1' }}" title="Enum"></ng0-table-col> -->

            <ng0-table-col cellClass="text-end" [shrink]="true">
                <ng-template let-row>
                    <a type="button" class="btn btn-secondary" [routerLink]="['..', row.id, 'edit']">View</a>
                </ng-template>
            </ng0-table-col>

            <!-- <ng-container ngProjectAs="paging-first"> << </ng-container>
    <ng-container ngProjectAs="paging-last">>></ng-container>
    <ng-container ngProjectAs="paging-next"> > </ng-container>
    <ng-container ngProjectAs="paging-previous"> < </ng-container> -->
        </ng0-table>

    </div>
</div>