<div class="row g-3">
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <h4>Bind to object array</h4>
                <p>
                    This data table is bound to an array of objects defined in the component. It demonstrates basic
                    data binding and column configuration.
                </p>
                <ng0-table [source]="array1">
                    <ng0-table-col field="id" type="number" title="Id" [bold]="true"
                                   [filterable]="true"></ng0-table-col>
                    <ng0-table-col field="name" title="name" [filterable]="true"></ng0-table-col>
                    <ng0-table-col field="description" title="description" [filterable]="true"></ng0-table-col>
                    <ng0-table-col cellClass="text-end" [shrink]="true">
                        <ng-template let-row>
                            <a type="button" class="btn btn-secondary">View</a>
                        </ng-template>
                    </ng0-table-col>
                </ng0-table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card  h-100">
            <div class="card-body">
                <h4>Bind to remote data</h4>
                <p>
                    This data table is bound to a remote data source. It demonstrates how to use the table with
                    server-side data, including pagination, sorting, and filtering.
                </p>

                <ng0-table [source]="dataLoader1" [pageable]="true" [pageSize]="3">
                    <ng0-table-col field="name" title="name" [filterable]="true"></ng0-table-col>
                    <ng0-table-col field="description" title="description" [filterable]="true"></ng0-table-col>

                    <ng0-table-col cellClass="text-end" [shrink]="true">
                        <ng-template let-row>
                            <a type="button" class="btn btn-secondary" [routerLink]="['..', row.id, 'edit']">View</a>
                        </ng-template>
                    </ng0-table-col>

                    <!-- <ng-container ngProjectAs="paging-first"> << </ng-container>
    <ng-container ngProjectAs="paging-last">>></ng-container>
    <ng-container ngProjectAs="paging-next"> > </ng-container>
    <ng-container ngProjectAs="paging-previous"> < </ng-container> -->
                </ng0-table>

            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Bind to array</h4>

                <ng0-table [source]="array1" [pageable]="true" [loadingIndicator]="'spinner'" [showHeader]="true"
                           [filterable]="true" [autoLoad]="true" [height]="200" [showRowNumbers]="true">
                    <ng0-table-col field="id" type="number" title="Id" [bold]="true"
                                   [filterable]="true"></ng0-table-col>
                    <ng0-table-col field="name" title="name" [filterable]="true"></ng0-table-col>
                    <ng0-table-col field="description" title="description" [filterable]="true"></ng0-table-col>
                    <!-- <ng0-table-col field="id" [type]="{enum: {name: 'Enum1' }}" title="Enum"></ng0-table-col> -->

                    <ng0-table-col cellClass="text-end" [shrink]="true">
                        <ng-template let-row>
                            <a type="button" class="btn btn-secondary" [routerLink]="['..', row.id, 'edit']">View</a>
                        </ng-template>
                    </ng0-table-col>

                    <!-- <ng-container ngProjectAs="paging-first"> << </ng-container>
    <ng-container ngProjectAs="paging-last">>></ng-container>
    <ng-container ngProjectAs="paging-next"> > </ng-container>
    <ng-container ngProjectAs="paging-previous"> < </ng-container> -->
                </ng0-table>

            </div>
        </div>
    </div>
</div>