$selected-bg-color: var(--bs-primary);
$active-bg-color: color-mix(in srgb, var(--bs-primary), white 85%);
$hover-bg-color: color-mix(in srgb, var(--bs-primary), white 95%);

ng0-autocomplete {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex !important;
    align-items: center;

    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:empty::before {
        content: " ";
        white-space: pre;
    }

    &:focus,
    &:focus-visible,
    &.ng0-select-open.ng0-select-filterable {
        outline: 0;
        box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
    }
}

.ng0-select-dropdown {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    overflow-y: auto;
    margin: var(--bs-focus-ring-width, 0) 0;
    // box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
}

.ng0-select-filter-container {
    padding: 0.5rem;
    background-color: inherit;

    .ng0-select-filter-input {
        width: 100%;
        border: 1px solid var(--bs-border-color);
        border-radius: .2rem;
        padding: .25rem;

        &:focus,
        &:focus-visible {
            outline: 0;
            // box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
        }
    }
}

ng0-select-list {
    flex-grow: 1;
    overflow-y: auto;

    ng0-list-item {
        padding: 0.5rem;
        display: flex;

        &.selected {
            background-color: $selected-bg-color;
            color: var(--bs-light);
        }

        &.active:not(.selected) {
            background-color: $active-bg-color;
        }

        &:hover:not(.selected):not(.disabled):not(.active) {
            background-color: $hover-bg-color;
        }

        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        &:last-child {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        .ng0-selection-indicator {
            margin-inline-end: 0.5rem;
        }
    }
}

// /* Chrome, Edge, Safari */
// ::-webkit-scrollbar {
//     width: 8px;
//     /* vertical scrollbar */
//     height: 8px;
//     /* horizontal scrollbar */
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
//     /* or rgba(0,0,0,0.1) */
// }

// ::-webkit-scrollbar-thumb {
//     background: rgba(0, 0, 0, 0.4);
//     border-radius: 4px;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: rgba(0, 0, 0, 0.6);
// }