<div class="row g-4">
    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Default</h5>

                <ng0-dropdown #d>
                    Default dropdown

                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        <ng0-dropdown-item>Something else here</ng0-dropdown-item>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-item>Separated link</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Default</h5>

            </div>
        </div>
    </div>
</div>