<div class="row g-4">
    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Default</h5>

                <ng0-dropdown >
                    Primary
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item (click)="thankYou()">Click Me</ng0-dropdown-item>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-item toggleCss="text-danger">Another action</ng0-dropdown-item>
                        <ng0-dropdown-link link="/">
                            Home Page (link)
                        </ng0-dropdown-link>
                        <ng0-dropdown-link link="/" target="_blank">
                            Home Page (link, target: _blank)
                        </ng0-dropdown-link>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-link link="/" [active]="['fw-bold', 'text-info']">
                            Active route with custom css class (link)
                        </ng0-dropdown-link>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown toggleCss="btn btn-secondary">
                    Secondary
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item (click)="thankYou()">Click Me</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown toggleCss="btn btn-danger">
                    danger
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item (click)="thankYou()">Click Me</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Split button</h5>

                <ng0-dropdown split="true">
                    Split button
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown split="true" [toggleCss]="'btn btn-danger'" splitCss="btn btn-danger"
                              (toggleClick)="thankYou()" >
                    I'm an action!
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown split="true" [toggleCss]="'btn btn-danger'" splitCss="btn btn-primary" disabled>
                    I am disabled!
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Size</h5>

                <ng0-dropdown size="large" class="me-3">
                    Large
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown class="me-3">
                    Default
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>

                <ng0-dropdown size="small" class="me-3">
                    Small
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-divider />
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Disabled items</h5>

                <ng0-dropdown>
                    Default dropdown
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item disabled (click)="thankYou()">Disabled Action - Buggy :( </ng0-dropdown-item>
                        <ng0-dropdown-link link="/">
                            Link
                        </ng0-dropdown-link>
                        <ng0-dropdown-link link="/" disabled>
                            Disabled Link
                        </ng0-dropdown-link>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Active item</h5>

                <ng0-dropdown>
                    Dropdown
                    <ng0-dropdown-menu>
                        <ng0-dropdown-item>Action</ng0-dropdown-item>
                        <ng0-dropdown-item toggleCss="active">Active item</ng0-dropdown-item>
                        <ng0-dropdown-item>Another action</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Headers</h5>

                <ng0-dropdown>
                    Dropdown
                    <ng0-dropdown-menu>
                        <ng0-dropdown-header>Header 1</ng0-dropdown-header>
                        <ng0-dropdown-item>Action A</ng0-dropdown-item>
                        <ng0-dropdown-header>Header 2</ng0-dropdown-header>
                        <ng0-dropdown-item>Action B</ng0-dropdown-item>
                        <ng0-dropdown-item>Action C</ng0-dropdown-item>
                    </ng0-dropdown-menu>
                </ng0-dropdown>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Autoclose behavior</h5>

                <div>
                    <ng0-dropdown>
                        Default

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="inside">
                        Inside

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="outside">
                        Outside

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="manual">
                        Manual

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>
                </div>

                <p class="mt-5">Split dropdowns:</p>
                <div class="mt-3">
                    <ng0-dropdown split="true">
                        Default

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="inside" split="true">
                        Inside

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="outside" split="true">
                        Outside

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown autoClose="manual" split="true">
                        Manual

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card example-card">
            <div class="card-body">
                <h5 class="card-title">Directions</h5>

                <p class="alert alert-warning">Not implemented yet. </p>

                <div>
                    <ng0-dropdown>
                        Dropdown

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown placement="start">
                        Dropstart

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown placement="end">
                        Dropend

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown placement="top">
                        dropup

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>
                </div>

                <p class="mt-5">Split dropdowns:</p>
                <div class="mt-3">
                    <ng0-dropdown split="true">
                        Dropdown

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown split="true" placement="start">
                        Dropstart

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown split="true" placement="end">
                        Dropend

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>

                    <ng0-dropdown split="true" placement="top">
                        dropup

                        <ng0-dropdown-menu>
                            <ng0-dropdown-item>Action</ng0-dropdown-item>
                            <ng0-dropdown-item>Another action</ng0-dropdown-item>
                        </ng0-dropdown-menu>
                    </ng0-dropdown>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    ng0-dropdown {
        margin-inline-end: 1rem;
    }
</style>