<p>
    Formatters are used to format data for display purposes, such as dates, numbers, and currencies.<br>
    You can use built-in formatters or create your own custom formatters.
</p>

<div class="row g-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Date formatter</h5>
                <p>
                    Date formatter formats date values for display purposes.<br>
                    A date formatter accepts dates of type Date, number (timestamp), or string (ISO 8601 date
                    string).<br>
                </p>

                <ol>
                    <li>
                        Using predefined styles for date and time:<br>

                        <mark>['@', dateStyle?: string , timeStyle?: string, zone?: [name, display?], calendar?:
                            string]</mark>
                        <ul>
                            <li>
                                dateStyle: 'short' | 'medium' | 'long' | 'full',
                            </li>
                            <li>
                                timeStyle: 'short' | 'medium' | 'long' | 'full',
                            </li>
                            <li>
                                zone: [name: string, display: string],
                            </li>
                            <li>
                                calendar: string. <br>
                                The calendar to use, such as "chinese", "gregory", "persian",
                            </li>
                        </ul>

                    </li>
                    <li>
                        Using custom Intl.DateTimeFormatOptions to specify detailed formatting options.<br>

                        <mark>['@', {{"{"}} ...Intl.DateTimeFormatOptions {{"}"}}]</mark>
                    </li>
                </ol>
            </div>
            <div class="card-footer">
                <h6 class="card-title">Show Date</h6>
                <p>
                    To display only the date, you can provide the dateStyle parameter.<br>
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: "@"<br>
                        <span class="text-info">Formatted Value = {{examples.date.value1 | ng0Format: "@"}}</span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'short'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'short']}}
                        </span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'medium'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'medium']}}
                        </span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'long'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'long']}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h6 class="card-title">Show Date and time</h6>

                <p>
                    To display both date and time, you can provide additional parameters to customize the date
                    formatting.<br>
                </p>
                <div class="row g-4">
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'short', 'short'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'short', 'short']}}
                        </span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'short', 'medium'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'short', 'medium']}}</span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'short', 'long'] <br>
                        <span class="text-info">
                            Formatted Value = {{examples.date.value1 | ng0Format: ['@', 'short', 'long']}}</span>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h6 class="card-title">Time zone</h6>
                <p>
                    You can specify the time zone to format the date and time accordingly.<br>
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', undefined, undefined, ['Asia/Tehran', 'long' ]] <br>
                        <span class="text-info">
                            {{examples.date.value1 | ng0Format: ['@', undefined, undefined, ['Asia/Tehran', 'long' ]]}}
                        </span>
                    </div>
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', undefined, undefined, ['America/New_York', 'long' ]] <br>
                        <span class="text-info">
                            {{examples.date.value1 | ng0Format: ['@', undefined, undefined, ['America/New_York', 'long'
                            ]]}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h6 class="card-title">Calendar</h6>
                <p>
                    You can specify the calendar system to format the date accordingly.<br>
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'medium', 'long', 'medium', 'gregory'] <br>
                        <span class="text-info d-inline-block" style="direction: rtl;">
                            {{examples.date.value1 | ng0Format: ['@', 'long', 'medium', undefined, 'gregory']}}
                        </span>
                    </div>

                    <div class="col-xl-6">
                        Value = {{examples.date.value1 | json}} <br>
                        Formatter: ['@', 'medium', 'long', 'medium', 'persian'] <br>
                        <span class="text-info d-inline-block" style="direction: rtl;">
                            {{examples.date.value1 | ng0Format: ['@', 'long', 'medium', undefined, 'persian']}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Number formatter</h5>
                <p>
                    Number formatter formats numeric values for display purposes.<br>
                </p>

                <div class="row">
                    <div class="col-xl-4">
                        Value = {{123456789 | json}} <br>
                        Formatter: '#'<br>
                        <span class="text-info">Formatted Value = {{123456 | ng0Format: '#'}}</span>
                    </div>
                    <div class="col-xl-4">
                        Value = {{12345.12 | json}} <br>
                        Formatter: '#' <br>
                        <span class="text-info">Formatted Value = {{12345.12 | ng0Format: '#'}}</span>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h6>Use with parameters:</h6>
                <p>
                    You can provide additional parameters to customize the number formatting.<br>
                    Create an array with the formatter name as the first element, followed by the parameters.<br>
                </p>

                <div class="text-danger my-3">
                    ['#', minIntegerDigits, minFractionDigits, maxFractionDigits, useGrouping]
                </div>

                <div class="row g-4">
                    <div class="col-xl-4">
                        Value = {{0 | json}} <br>
                        Formatter: ['#', 5, 2] <br>
                        <span class="text-info">Formatted Value = {{0 | ng0Format: ['#', 5, 2]}}</span>
                    </div>
                    <div class="col-xl-4">
                        Value = {{-1.5 | json}} <br>
                        Formatter: ['#', 2, 3] <br>
                        <span class="text-info">Formatted Value = {{-1.5 | ng0Format: ['#', 3, 3]}}</span>
                    </div>
                    <div class="col-xl-4">
                        Value = {{-1.123456789 | json}} <br>
                        Formatter: ['#', 2, undefined, 5] <br>
                        <span class="text-info">Formatted Value = {{-1.123456789 | ng0Format: ['#', 2, undefined,
                            5]}}</span>
                    </div>
                    <div class="col-xl-4">
                        Value = {{12345678.123456789 | json}} <br>
                        Formatter: ['#', 2, 3, undefined, false] <br>
                        <span class="text-info">Formatted Value = {{ 12345678.0 | ng0Format: ['#', 2, 3, undefined,
                            false] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Field formatter</h5>
                <p>
                    A field formatter formats an object by extracting a specific field from it.<br>
                    This example shows how to use a formatter to display the 'name' field of an object.
                </p>

                Value = {{object1 | json}} <br>
                Formatter = 'name' <br>

                <span class="text-info">
                    Formatted Value = {{object1 | ng0Format:'name' | json}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Array index formatter</h5>
                <p>
                    An array index formatter formats an array by extracting the element at a specific index.<br>
                    This example shows how to use a formatter to display the element at index 1 of an array.
                </p>

                Value = {{examples.indexFormatter.value | json}} <br>
                Formatter: 2 <br>

                <span class="text-info">
                    Formatted Value = {{examples.indexFormatter.value | ng0Format: 2}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Currency formatter</h5>
                <p>
                    Currency formatter formats numeric values as currency for display purposes.<br>
                </p>

                Not implemented!
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Locale Formatters</h5>
                <p>
                    A locale formatter formats a value into a human-readable string based on the app Locale.<br>
                    A Locale formatter starts with the <mark class="fw-bold">*</mark> character followed by
                    the formatter name.<br>
                    This example shows how to use locale formatters to format enums.
                    .<br>
                </p>

            </div>

            <div class="card-footer">
                <h6>Formatting Enums</h6>
                Value = {{examples.enumFormatter.value | json}} <br>
                Formatter = "*SexualityEnum" <br>

                <span class="text-info">
                    Formatted Value = {{examples.enumFormatter.value | ng0Format: "*SexualityEnum"}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Composite formatters</h5>
                <p>
                    A Composite formatter is a series of formatters that are applied sequentially to transform data
                    through multiple stages.<br>
                    Each formatter in the chain processes the output of the previous formatter, allowing for complex
                    data transformations.<br>
                    This example shows how to combine multiple formatters to achieve the desired output format.
                </p>

                Not implemented!
            </div>
        </div>

    </div>
</div>