Examples:

<ul>
    <li><a routerLink="localization">Localization</a></li>

    <li>
        <h6>Components:</h6>
        <ul>
            <li><a routerLink="components/accordion">Accordion</a></li>
            <li><a routerLink="components/collapse">Collapse</a></li>
            <li><a routerLink="components/dropdown">Dropdown</a></li>
            <li><a routerLink="components/formfield">FormField</a></li>
            <li><a routerLink="components/modal">Modal</a></li>
            <li><a routerLink="components/offcanvas">Offcanvas</a></li>
            <li><a routerLink="components/overlay">overlay</a></li>
            <li><a routerLink="components/pagination">Pagination</a></li>
            <li><a routerLink="components/popover">Popover</a></li>
            <li><a routerLink="components/progress">Progress</a></li>
            <li><a routerLink="components/tabs">Tabs</a></li>
            <li><a routerLink="components/toast">Toast</a></li>
            <li><a routerLink="components/tooltip">Tooltip</a></li>
        </ul>
    </li>
</ul>