<h5>
    Examples:
</h5>

<ul>
    <li><a routerLink="data">Data</a></li>
    <li><a routerLink="file">File</a></li>
    <li><a routerLink="form">Form</a></li>
    <li><a routerLink="http">HTTP</a></li>
    <li><a routerLink="localization">Localization</a></li>
    <li><a routerLink="script">Script</a></li>
    <li><a routerLink="security">Security</a></li>

    <li>
        Components:
        <ul>
            <li><a routerLink="components/accordion">Accordion</a></li>
            <li><a routerLink="components/button">Button</a></li>
            <li><a routerLink="components/collapse">Collapse</a></li>
            <li><a routerLink="components/dropdown">Dropdown</a></li>
            <li><a routerLink="components/formfield">FormField</a></li>
            <li><a routerLink="components/modal">Modal</a></li>
            <li><a routerLink="components/offcanvas">Offcanvas</a></li>
            <li><a routerLink="components/overlay">Overlay</a></li>
            <li><a routerLink="components/pagination">Pagination</a></li>
            <li><a routerLink="components/popover">Popover</a></li>
            <li><a routerLink="components/progress">Progress</a></li>
            <li><a routerLink="components/table">Table</a></li>
            <li><a routerLink="components/tabs">Tabs</a></li>
            <li><a routerLink="components/toast">Toast</a></li>
            <li><a routerLink="components/tooltip">Tooltip</a></li>
        </ul>
    </li>
</ul>