<ul>
    <li>
        <h5>Components</h5>
        <ul>
            <li><a routerLink="components/accordion">Accordion</a> <mark>component</mark></li>
            <li><a>Breadcrumb</a> <mark>component</mark></li>
            <li><a routerLink="components/button">Backdrop</a> <mark>component</mark></li>
            <li><a routerLink="components/button">Button</a> <mark>component</mark></li>
            <li><a routerLink="components/collapse">Collapse</a> <mark>component</mark></li>
            <li><a>DatePicker</a> <mark>component</mark></li>
            <li><a routerLink="components/dropdown">Dropdown</a> <mark>component</mark></li>
            <li><a routerLink="components/formfield">FormField</a> <mark>component</mark></li>
            <li><a routerLink="components/modal">Modal</a> <mark>component</mark></li>
            <li><a routerLink="components/offcanvas">Offcanvas</a> <mark>component</mark></li>
            <li><a routerLink="components/overlay">Overlay</a> <mark>component</mark></li>
            <li><a routerLink="components/pagination">Pagination</a> <mark>component</mark></li>
            <li><a routerLink="components/popover">Popover</a> <mark>component</mark></li>
            <li><a routerLink="components/progress">Progress</a> <mark>component</mark></li>
            <li><a routerLink="components/sidenav">Sidenav</a> <mark>component</mark></li>
            <li><a routerLink="components/table">Table</a> <mark>component</mark></li>
            <li><a routerLink="components/tabs">Tabs</a> <mark>component</mark></li>
            <li><a routerLink="components/toast">Toast</a> <mark>component</mark></li>
            <li><a routerLink="components/tooltip">Tooltip</a> <mark>component</mark></li>
        </ul>
    </li>
    <li>
        <h5>Data</h5>
        <ul>
            <li><a routerLink="">DataSource</a> <mark>class</mark></li>
            <li><a routerLink="">ArrayDataSource</a><mark>class</mark></li>
            <li><a routerLink="">AsyncDataSource</a><mark>class</mark></li>
            <li><a routerLink="">DataRequest</a><mark>class</mark></li>
            <li><a routerLink="">DateResult</a><mark>class</mark></li>
        </ul>
    </li>
    <li>
        <h5>File</h5>

        <ul>
            <li><a routerLink="">saveBlob</a> <mark>function</mark></li>
            <li><a routerLink="">convertFileToBase64</a> <mark>function</mark></li>
            <li><a routerLink="">downloadFile</a> <mark>function</mark></li>
        </ul>
    </li>
    <li>
        <h5>Form</h5>
        <ul>
            <li><a routerLink="">NumberDirective</a> <mark>directive</mark></li>
            <li><a routerLink="">FocusDirective</a> <mark>directive</mark></li>
            <li><a routerLink="">DisableCountdownDirective</a> <mark>directive</mark></li>

            <li>
                Validation
                <ul>
                    <li><a routerLink="">ErrorsDirective</a> <mark>directive</mark></li>
                    <li><a routerLink="">FirstErrorDirective</a> <mark>directive</mark></li>

                    <li>
                        Validators:
                        <ul>
                            <li><a routerLink="">Custom</a> <mark>validator</mark></li>
                            <li><a routerLink="">Equal With</a> <mark>validator</mark></li>
                            <li><a routerLink="">Exact Length</a> <mark>validator</mark></li>
                            <li><a routerLink="">File Size</a> <mark>validator</mark></li>
                            <li><a routerLink="">URL</a> <mark>validator</mark></li>
                        </ul>
                    </li>
                </ul>

            </li>
        </ul>
    </li>
    <li>
        <h5>HTTP</h5>
        <ul>
            <li><a routerLink="">HttpService</a> <mark>service</mark></li>
            <li><a routerLink="">HttpDataRequestResolver</a> <mark>class</mark></li>

        </ul>
    </li>
    <li>
        <h5>Localization</h5>
        <ul>
            <li><a routerLink="">Locale</a> <mark>class</mark></li>
            <li><a routerLink="">Localization Service</a> <mark>service</mark></li>
            <li><a routerLink="">TranslatePipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">TranslateBooleanPipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">TranslateEnumPipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">LocalizePipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">LocalizeBooleanPipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">LocalizeEnumPipe</a> <mark>pipe</mark></li>
            <li><a routerLink="">DatePipe</a> <mark>pipe</mark></li>
            <li>
                Locales
                <ul>
                    <li><a routerLink="">irFA</a></li>
                    <li><a routerLink="">enUS</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
        <h5>Platform</h5>
        <ul>
            <li>
                Browser
                <ul>
                    <li><a routerLink="">ClipboardDirectrive <mark>directive</mark></a></li>
                    <li><a routerLink="">ClipboardService</a> <mark>service</mark></li>
                </ul>
            </li>
            <li>
                Server
            </li>
        </ul>
    </li>

    <li>
        <h5>Security</h5>
        <ul>
            <li><a routerLink="">UserStore</a> <mark>service</mark></li>
            <li><a routerLink="">ClaimDirective</a> <mark>directive</mark></li>
            <li><a routerLink="">GuestUserDirective</a> <mark>directive</mark></li>
        </ul>
    </li>
    <li>
        <h5>Script</h5>
        <ul>
            <li><a routerLink="">ScriptLoader</a> <mark>service</mark></li>
        </ul>
    </li>
</ul>