:host {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: transform var(--ng0-sidenav-transition-duration) var(--ng0-sidenav-transition-function);

  &.ng0-sidenav-fixed {
    position: fixed !important;
  }

  &.ng0-sidenav-start {
    inset-inline-start: 0;
    transform: translateX(-100%);

    :dir(rtl) &,
    body[dir=rtl] & {
      transform: translateX(100%);
    }

    &.ng0-sidenav-open {
      transform: translateX(0) !important;
    }
  }

  &.ng0-sidenav-end {
    inset-inline-end: 0;
    transform: translateX(100%);

    :dir(rtl) &,
    body[dir=rtl] & {
      transform: translateX(-100%);
    }

    &.ng0-sidenav-open {
      transform: translateX(0) !important;
    }
  }
}