:root {
  --ng0-sidenav-transition-duration: 200ms; 
  --ng0-sidenav-transition-function: ease-out;
}

ng0-sidenav-container {
  position: relative;
  display: block;
  overflow: hidden;
  will-change: padding;

  &.ng0-sidenav-transition {
    transition: padding var(--ng0-sidenav-transition-duration) var(--ng0-sidenav-transition-function);
  }

  &.ng0-sidenav-content-hidden ng0-sidenav-content {
    opacity: 0;
  }
}