registry=http://192.168.12.182/repository/npm-group/
@bootkit:registry=http://192.168.12.182/repository/npm-hosted/

//192.168.12.182/repository/npm-group/:_auth=Z2FybWVzdGFuaTpRd2VAMTIzNDU2
//192.168.12.182/repository/npm-hosted/:_auth=Z2FybWVzdGFuaTpRd2VAMTIzNDU2