<div class="row g-4">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Usage</h4>
                <p>
                    The vertical menu component is used to create a vertical navigation menu with expandable and
                    collapsible items.
                </p>

                <ng0-vmenu>
                    <ng0-vmenu-group label="Group 1">
                        <ng0-vmenu-item text="Item 1" [link]="['.']"></ng0-vmenu-item>
                        <ng0-vmenu-item text="Item 2"></ng0-vmenu-item>
                        <ng0-vmenu-item text="Click Me" (itemClick)="_onItemClick()"></ng0-vmenu-item>
                    </ng0-vmenu-group>
                    <ng0-vmenu-divider></ng0-vmenu-divider>
                    <ng0-vmenu-item text="Parent 1">
                        <ng0-vmenu-children>
                            <ng0-vmenu-item text="Item 1.1"></ng0-vmenu-item>
                        </ng0-vmenu-children>
                    </ng0-vmenu-item>
                    <ng0-vmenu-item text="Parent 2">
                        <ng0-vmenu-children>
                            <ng0-vmenu-item text="Parent 2.1">
                                <ng0-vmenu-children>
                                    <ng0-vmenu-item text="Item 2.1.1" [link]="['.']"></ng0-vmenu-item>
                                </ng0-vmenu-children>
                            </ng0-vmenu-item>
                        </ng0-vmenu-children>
                    </ng0-vmenu-item>
                </ng0-vmenu>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Using array as items source</h4>
                <p></p>

                <ng0-vmenu [items]="_menuItems"></ng0-vmenu>
            </div>
        </div>
    </div>
</div>