@keyframes ng0-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes ng0-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes ng0-zoom-in {
    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes ng0-zoom-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

.ng0-animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.ng0-fade-in {
    animation-name: ng0-fade-in;
}

.ng0-fade-out {
    animation-name: ng0-fade-out;
}

.ng0-zoom-in {
    animation-name: ng0-zoom-in;
}

.ng0-zoom-out {
    animation-name: ng0-zoom-out;
}