<div class="row g-4">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4>Basic Usages</h4>
        <p>
          This example demonstrates how to use multiple sidenavs with different configurations. <br>
          To show your content inside a sidenav, wrap your content inside an <code>&lt;ng0-sidenav-container&gt;</code>
          component
          and add one or more <code>&lt;ng0-sidenav&gt;</code> components as siblings to the content.
        </p>

        <ng0-sidenav-container class="border bg-light">
          <ng0-sidenav
                       [zIndex]="144"
                       class="bg-secondary"
                       [mode]="examples.basicUsage.sidenav1.mode()"
                       [position]="examples.basicUsage.sidenav1.position()"
                       [open]="examples.basicUsage.sidenav1.open()"
                       [size]="examples.basicUsage.sidenav1.size"
                       [fixedInViewport]="true"
                       [hasBackdrop]="examples.basicUsage.sidenav1.hasBackdrop()"
                       (backdropClick)="examples.basicUsage.sidenav1.open.set(false)">
            Sidenav 1 content.
          </ng0-sidenav>

          <ng0-sidenav
                       [zIndex]="2"
                       class="bg-primary"
                       [mode]="examples.basicUsage.sidenav2.mode()"
                       [position]="examples.basicUsage.sidenav2.position()"
                       [open]="examples.basicUsage.sidenav2.open()"
                       [size]="examples.basicUsage.sidenav2.size"
                       [hasBackdrop]="examples.basicUsage.sidenav2.hasBackdrop()"
                       (backdropClick)="examples.basicUsage.sidenav2.open.set(false)">
            Sidenav 2 content.
          </ng0-sidenav>

          <ng0-sidenav-content>
            <ng-container *ngTemplateOutlet="content"></ng-container>
          </ng0-sidenav-content>
        </ng0-sidenav-container>
      </div>
      <div class="card-footer">
        <h6>Sidenav 1 configurations:</h6>

        <div class="row">
          <div class="col-xl-2">
            Open:
            <div class="input-group">
              <input type="text" class="form-control" [value]="examples.basicUsage.sidenav1.open()" readonly />
              <button class="btn btn-secondary"
                      (click)="examples.basicUsage.sidenav1.open.set(!examples.basicUsage.sidenav1.open())">
                Toggle
              </button>
            </div>
          </div>
          <div class="col-xl-2">
            Position:
            <select name="position" class="form-select" [(ngModel)]="examples.basicUsage.sidenav1.position">
              <option value="start">Start</option>
              <option value="end">End</option>
              <option value="top">Top</option>
              <option value="bottom">Bottom</option>
            </select>
          </div>
          <div class="col-xl-2">
            Mode:
            <select name="mode" class="form-select" [(ngModel)]="examples.basicUsage.sidenav1.mode">
              <option value="push">Push</option>
              <option value="over">Over</option>
            </select>
          </div>
          <div class="col-xl-2">
            hasBackdrop:
            <select name="hasBackdrop" class="form-select"
                    [(ngModel)]="examples.basicUsage.sidenav1.hasBackdrop"
                    [disabled]="examples.basicUsage.sidenav1.mode() === 'push'">
              <option [ngValue]="true">True</option>
              <option [ngValue]="false">False</option>
            </select>
          </div>

          <div class="col-xl-2">
            Size:
            <select name="size" class="form-select"
                    [(ngModel)]="examples.basicUsage.sidenav1.size">
              <option value="200px">200 px</option>
              <option value="50%">50 %</option>
              <option value="75vh">75 vh</option>
              <option value="50vw">50 vw</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="full">Full</option>
            </select>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <h6>Sidenav 2 configurations:</h6>

        <div class="row">
          <div class="col-xl-3">
            Open:
            <div class="input-group">
              <input type="text" class="form-control" [value]="examples.basicUsage.sidenav2.open()" readonly />
              <button class="btn btn-secondary"
                      (click)="examples.basicUsage.sidenav2.open.set(!examples.basicUsage.sidenav2.open())">
                Toggle
              </button>
            </div>
          </div>
          <div class="col-xl-3">
            Position:
            <select name="sidenav2.position" class="form-select" [(ngModel)]="examples.basicUsage.sidenav2.position">
              <option value="start">Start</option>
              <option value="end">End</option>
            </select>
          </div>
          <div class="col-xl-3">
            Mode:
            <select name="sidenav2.mode" class="form-select" [(ngModel)]="examples.basicUsage.sidenav2.mode">
              <option value="push">Push</option>
              <option value="over">Over</option>
            </select>
          </div>
          <div class="col-xl-3">
            hasBackdrop:
            <select name="sidenav2.hasBackdrop" class="form-select"
                    [(ngModel)]="examples.basicUsage.sidenav2.hasBackdrop"
                    [disabled]="examples.basicUsage.sidenav2.mode() === 'push'">
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<ng-template #content>
  <p class="my-5">
    This is a simple content. <br>
    And this is some more content. <br>
    And this is the last piece of content.
  </p>
  <p class="my-5">
    This is a simple content. <br>
    And this is some more content. <br>
    And this is the last piece of content.
  </p>
    <p class="my-5">
    This is a simple content. <br>
    And this is some more content. <br>
    And this is the last piece of content.
  </p>
</ng-template>