<ng0-sidenav-container class="border bg-light">
    <ng0-sidenav [sidenavWidth]="100" class="bg-danger"
                 [mode]="sidenav1.mode()"
                 [fixedInViewport]="sidenav1.fixed()"
                 [position]="sidenav1.position()"
                 [open]="sidenav1.open()"
                 [sidenavWidth]="sidenav1.width"
                 (backdropClick)="sidenav1.open.set(false)">
        Sidenav 1
    </ng0-sidenav>

    <ng0-sidenav [sidenavWidth]="100" class="bg-secondary"
                 [mode]="sidenav2.mode()"
                 [fixedInViewport]="sidenav2.fixed()"
                 [position]="sidenav2.position()"
                 [open]="sidenav2.open()"
                 [sidenavWidth]="sidenav2.width"
                 (backdropClick)="sidenav2.open.set(false)">
        Sidenav 2
    </ng0-sidenav>

    <p>
        This is a text. This is a text. This is a text. This is a text. This is a text. This is a text. This is a text.
        <br>
        This is a text. This is a text. This is a text. This is a text. This is a text. This is a text. This is a text.
        <br>
        This is a text. This is a text. This is a text. This is a text. This is a text. This is a text. This is a text.
        <br>
        This is a text. This is a text. This is a text. This is a text. This is a text. This is a text. This is a text.
        <br>
        This is a text. This is a text. This is a text. This is a text. This is a text. This is a text. This is a text.
        <br>
    </p>
</ng0-sidenav-container>

<div class="mt-2">
    <button class="btn btn-success" (click)="sidenav1.open.set(!sidenav1.open())">Toggle 1</button>
    <button class="btn btn-success" (click)="sidenav2.open.set(!sidenav2.open())">Toggle 2</button>
</div>