@let filter = filterBy();
@let formatter = formatBy();

@for (item of _sourceItems(); track trackBy()($index, item)) {
@let selected = isSelected(item);

<div ng0ListItem #listItem="ng0ListItem"
     *ng0If="filter(item)"
     [value]="item"
     [id]="idGenerator()?.(item)"
     [attr.tabindex]="_getItemTabIndex(listItem)"
     [class.active]="_isActive(listItem)"
     [class.selected]="selected"
     [ngClass]="itemClass()?.(item)"
     class="ng0-list-item"
     (click)="_handleUserSelection(listItem);">

       @if(itemTemplate) {
       <ng-container *ngTemplateOutlet="itemTemplate; 
              context: { $implicit: { selected: selected, active: _isActive(listItem), value: value()} }" />
       } @else {
       @if(showSelectionIndicator()) {
       <input class="form-check-input ng0-list-selection-indicator"
              tabindex="-1"
              [checked]="selected"
              [attr.type]="multiple() ? 'checkbox' : 'radio'">
       }

       {{formatter(item)}}
       }
</div>
}

@if(_showLoadingSppiner()) {
@if(_sourceItems().length == 0) {
<div style="text-align: center; padding: 0.5rem 0;">
       <ng-container *ngTemplateOutlet="spinner"></ng-container>
</div>
}@else {
<div class="ng0-list-loading-cover">
       <ng-container *ngTemplateOutlet="spinner"></ng-container>
</div>
}
}

<ng-template #spinner>
       <div class="spinner-border spinner-sm text-primary ng0-list-loading-indicator" role="status">
              <span class="visually-hidden">Loading...</span>
       </div>
</ng-template>