@let filter = filterBy();
@let formatter = formatBy();

@for (item of _sourceItems(); track trackBy()($index, item)) {

<ng0-list-item #listItem="ng0ListItem"
               *ng0If="!filter || filter(item)"
               [value]="item"
               [id]="idGenerator()?.(item)"
               [class.active]="isActive(listItem)"
               [class.selected]="isSelected(item)"
               [ngClass]="itemClass()?.(item)"
               (click)="_handleUserSelection(listItem, $index);">

       @if(itemTemplate() || _itemTemplate) {
       @let template = itemTemplate() || _itemTemplate;
       <ng-container *ngTemplateOutlet="template; context: { $implicit: {item: listItem, value: item}}" />
       } @else {
       @if(showSelectionIndicator()) {
       <input class="form-check-input ng0-selection-indicator"
              tabindex="-1"
              [checked]="isSelected(item)"
              [attr.type]="multiple() ? 'checkbox' : 'radio'">
       }

       {{formatter(item)}}
       }
</ng0-list-item>
}

@if(_showLoadingSppiner()) {
@if(_sourceItems().length == 0) {
<div style="text-align: center; padding: 0.5rem 0;">
       <ng-container *ngTemplateOutlet="spinner"></ng-container>
</div>
}@else {
<div class="ng0-list-loading-cover">
       <ng-container *ngTemplateOutlet="spinner"></ng-container>
</div>
}
}

<ng-template #spinner>
       <div class="spinner-border spinner-sm text-primary ng0-list-loading-indicator" role="status">
              <span class="visually-hidden">Loading...</span>
       </div>
</ng-template>