@for (i of _items(); track $index) {
@if(i.show) {
<div class="list-group-item list-group-item-action"
     [attr.id]="i.id"
     [class.active]="$index == _activeOptionIndex()"
     [class.selected]="i.selected"
     (click)="_toggleSelection($index);">

    @if(indicator()) {
    <div class="ng0-list-item-indicator form-check">
        <input class="form-check-input"
               [checked]="i.selected"
               [attr.type]="multiple() ? 'checkbox' : 'radio'"
               [attr.name]="i.id"
               [attr.id]="i.id">
    </div>
    }

    <div class="ng0-list-item-content">
        @if(_optionTemplate) {
        <ng-container *ngTemplateOutlet="_optionTemplate; context: { $implicit: i}" />
        } @else {
        {{formatBy()(i.value)}}
        }
    </div>

</div>
}
}