:host {
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    display: block;

    &.disabled {
        background-color: var(--bs-secondary-bg);
    }

    &:focus {
        outline: 0;
        // border: var(--bs-focus-ring-width) solid var( --bs-focus-ring-color);
        box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
    }
}

.list-group-item {
    cursor: pointer;
    display: flex;

    &.selected {
        background-color: var(--bs-primary);
        color: var(--bs-light);
        border: none;
    }

    &.active:not(.selected) {
        background-color: var(--bs-gray-300);
        border: none;
        color: var(--bs-body);
    }
}