ng0-layout1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .ng0-layout1-header {
        z-index: 10;

        &.ng0-layout1-header-sticky {
            position: sticky;
            top: 0;
        }
    }

    // ng0-sidenav-container {
    //     // bugfix: ng0-sidenav-container
    //     // overflow: unset !important;
    //     // clip-path: inset(0);
    // }
}