ng0-layout1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    ng0-layout1-header {
        display: block;
        z-index: 1;

        &.ng0-layout1-header-sticky {
            position: sticky;
            top: 0;
        }
    }

    ng0-layout1-content {
        display: block;
    }

    &>ng0-sidenav-container {
        // Sticky header requires this to be unset
        overflow: unset !important;
    }
}