:host {
  display: block;
  position: relative;
}

.tooltip {
  opacity: unset;
  position: relative;
  display: flex;
  align-items: center;
  --bs-tooltip-arrow-width: 11px;
  --bs-tooltip-arrow-height: 7px;

  .tooltip-arrow {
    &::before {
      bottom: unset;
      top: unset;
      left: unset;
      right: unset;
    }
  }

  // .tooltip-inner {}

  &.bs-tooltip-top {
    flex-direction: column-reverse;
  }

  &.bs-tooltip-bottom {
    flex-direction: column;
  }

  &.bs-tooltip-start {
    flex-direction: row-reverse;
  }

  &.bs-tooltip-end {
    flex-direction: row;
  }

  // [dir="rtl"] &.bs-tooltip-start .tooltip-arrow {
  //   right: unset !important;
  //   left: 0;
  //   transform: rotate(180deg);
  // }

  // [dir="rtl"] &.bs-tooltip-end .tooltip-arrow {
  //   left: unset !important;
  //   right: 0;
  //   transform: rotate(180deg);
  // }
}

@keyframes fade-in {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.5);
    opacity: 0;
  }
}


.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.2s;
}