<button #mainButton
        [class]="cssClass()"
        [class.dropdown-toggle]="!split()"
        [class.btn-sm]="size() == 'small'"
        [class.btn-lg]="size() == 'large'"
        type="button">
    <ng-content></ng-content>
</button>

@if(split()) {
<button #splitButton
        type="button"
        [class]="splitCssClass()"
        [class.btn-sm]="size() == 'small'"
        [class.btn-lg]="size() == 'large'"
        class="dropdown-toggle dropdown-toggle-split">
    <span class="visually-hidden">Toggle Dropdown</span>
</button>
}

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="_el.nativeElement"
             [cdkConnectedOverlayOpen]="open()"
             [cdkConnectedOverlayPush]="false"
             [cdkConnectedOverlayFlexibleDimensions]="true">
    <ng-content select="ng0-dropdown-menu"></ng-content>
</ng-template>

<style>
    :host {
        display: inline-block;
    }
</style>