<button #mainButton
        [class]="toggleCss()"
        [class.dropdown-toggle]="!split()"
        [class.btn-sm]="size() == 'small'"
        [class.btn-lg]="size() == 'large'"
        [disabled]="disabled()"
        type="button"
        (click)="toggleClick.emit($event)">
    <ng-content></ng-content>
</button>

@if(split()) {
<button #splitButton
        type="button"
        [class]="splitCss()"
        [class.btn-sm]="size() == 'small'"
        [class.btn-lg]="size() == 'large'"
        class="dropdown-toggle dropdown-toggle-split"
        [disabled]="disabled()">
    <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
</button>
}

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="_el.nativeElement"
             [cdkConnectedOverlayOpen]="open()"
             [cdkConnectedOverlayPush]="false"
             [cdkConnectedOverlayFlexibleDimensions]="true">
    <ng-content select="ng0-dropdown-menu"></ng-content>
</ng-template>

<style>
    :host {
        display: inline-block;
    }
</style>