<h1>Tooltip</h1>

<button class="btn btn-secondary me-2" ng0Tooltip="tooltip" placement="top" disabled>Disabled Button</button>
<button class="btn btn-secondary me-2" ng0Tooltip="tooltip" placement="top">top</button>
<button class="btn btn-secondary me-2" [ng0Tooltip]="'tooltip'" placement="bottom">bottom</button>
<button class="btn btn-secondary me-2" [ng0Tooltip]="'tooltip'" placement="start">start</button>
<button class="btn btn-secondary me-2" [ng0Tooltip]="'tooltip'" placement="end">end</button>

<ng-template #t>
    <button class="btn btn-primary">Tooltip</button>
</ng-template>
