@let config = this.toastRef.config;

@if(config.header) {
<div class="toast-header">
    @if(_hasHeaderTemplate) {
    <ng-container [ngTemplateOutlet]="$any(config.header)"></ng-container>
    }@else {
    @if(config.icon) {
    <span class="me-2" [ngClass]="config.icon"></span>
    }

    <strong class="me-auto">{{config.header}}</strong>

    @if(config.hint) {
    <small>{{config.hint}}</small>
    }

    @if(config.closeButton == undefined || config.closeButton) {
    <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="toastRef.close()">
    </button>
    }
    }
</div>
}

@if(config.body) {
<div class="toast-body">
    @if(_hasBodyTemplate) {
    <ng-container [ngTemplateOutlet]="$any(config.body)"></ng-container>
    }@else {
    {{config.body}}
    }
</div>
}
