@if(this._config.header) {
<div class="toast-header">
    @if(_hasHeaderTemplate) {
    <ng-container [ngTemplateOutlet]="$any(_config.header)"></ng-container>
    }@else {
    @if(_config.icon) {
    <span class="me-2" [ngClass]="_config.icon"></span>
    }

    <strong class="me-auto">{{this._config.header}}</strong>

    @if(_config.hint) {
    <small>{{_config.hint}}</small>
    }

    @if(_config.closeButton == undefined || _config.closeButton) {
    <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="toastRef.close()">
    </button>
    }
    }
</div>
}

@if(this._config.body) {
<div class="toast-body">
    @if(_hasBodyTemplate) {
    <ng-container [ngTemplateOutlet]="$any(_config.body)"></ng-container>
    }@else {
    {{this._config.body}}
    }
</div>
}