<section class="mb-5">
    <h5>Native select element</h5>

    <div class="input-group">
        <select class="form-select">
            @for (item of source1; track $index) {
            <option>{{item}}</option>
            }
        </select>
    </div>

</section>

<section class="mb-5">
    <h5>Default</h5>
    <div class="input-group">
        <ng0-select name="x" [source]="source2" [(ngModel)]="selectedValue1" [disabled]="false">
            <ng-template let-item>
                <span>🎵</span>
                <strong>{{item}}</strong>
            </ng-template>
        </ng0-select>


    </div>

    Bound value: {{ selectedValue1 }}
</section>

<section>
    <h5>This page should be scrollable!</h5>
    <div style="height: 150vh; background: linear-gradient(white, lightgray);">
        Scroll down to see the select component at the bottom of the page.
    </div>
</section>