<div class="row g-4">

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Native select</h5>
                <p>
                    Native select element, for comparing features and behavior.
                </p>

                <div class="input-group">
                    <select class="form-select">
                        @for (item of numberArray; track $index) {
                        <option>{{item}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to RemoteDataSource</h5>
                <p>
                    This select is bound to a RemoteDataSource.
                    A remote data source is a data source that retrieves data from a remote server (or any source that is resolved asynchronously).
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Source: RemoteDataSource
                        <ng0-select name="remoteDatasourceExample.value1"
                                    [source]="fakeRemoteDataSource1"
                                    formatBy="name"
                                    compareBy="id"
                                    writeBy="id"
                                    [(ngModel)]="remoteDatasourceExample.value1">
                        </ng0-select>

                        Value: {{ remoteDatasourceExample.value1 | json }}
                    </div>
                </div>
            </div>

            <!-- <div class="card-footer">
                <button class="btn btn-outline-secondary me-2" (click)="onAddToDataSource1()">
                    Add new Item
                </button>
                <button class="btn btn-outline-secondary me-2" (click)="onRemoveFromLocalDataSource1()">
                    Remove First Item
                </button> 
                <button class="btn btn-outline-secondary me-2" (click)="onReplaceLocalDataSource1()">
                    Replace First Item
                </button> 
            </div> -->
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to LocalDataSource</h5>
                <p>
                    This select is bound to a LocalDataSource.
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Source: LocalDataSource
                        <ng0-select name="localDatasourceExample.value1" [source]="localDatasource1"
                                    [(ngModel)]="localDatasourceExample.value1">
                        </ng0-select>
                        Value: {{ localDatasourceExample.value1 | json }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-secondary me-2" (click)="onAddToDataSource1()" disabled>Add new
                    Item</button>
                <!-- <button class="btn btn-outline-secondary me-2" (click)="onRemoveFromLocalDataSource1()">
                    Remove First Item
                </button> -->
                <!-- <button class="btn btn-outline-secondary me-2" (click)="onReplaceLocalDataSource1()">
                    Replace First Item
                </button> -->
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Multi select</h5>
                <p>
                    A multi-select component allows the user to select multiple options from a list.
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        [source]="stringArray"; multiple="true"
                        <ng0-select name="multiSelectExample.value1"
                                    [source]="stringArray"
                                    [(ngModel)]="multiSelectExample.value1"
                                    multiple="true" filterable="true">
                        </ng0-select>

                        Value: {{ multiSelectExample.value1 | json }}
                    </div>

                    <div class="col-xl-6">
                        [source]="stringArray"; multiple="true"; showSelectionIndicator="true"
                        <ng0-select name="multiSelectExample.value2" [source]="stringArray"
                                    [(ngModel)]="multiSelectExample.value2" multiple="true"
                                    showSelectionIndicator="true">
                        </ng0-select>

                        Value: {{ multiSelectExample.value2 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filter</h5>
                <p>
                    To filter the options in the select component, set filterable to true and provide a filter
                    predicate. <br>
                    You can pass the name of the property to filter by using the filterBy input or a custom filter
                    function.

                    by default, the select component will filter item values using a default filter function.
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        [source]="stringArray"; filterable="true"
                        <ng0-select name="filterExample.value1"
                                    [source]="stringArray"
                                    [(ngModel)]="filterExample.value1"
                                    filterable="true">
                        </ng0-select>

                        Value: {{ filterExample.value1 | json }}
                    </div>

                    <div class="col-xl-6">
                        [source]="personList1"; filterable="true"; formatBy="name"; filterBy="name"
                        <ng0-select name="filterExample.value2"
                                    [source]="personList1"
                                    [(ngModel)]="filterExample.value2"
                                    formatBy="name"
                                    filterable="true"
                                    filterBy="name">
                        </ng0-select>

                        Value: {{ filterExample.value2 | json }}
                    </div>

                    <div class="col-xl-12">
                        [source]="personList1"; filterable="true"; formatBy="name";
                        [filterBy]="filterExample.filterFunc"
                        <ng0-select name="filterExample.value3"
                                    [source]="personList1"
                                    [(ngModel)]="filterExample.value3"
                                    formatBy="name"
                                    filterable="true"
                                    [filterBy]="'name'">
                        </ng0-select>

                        Value: {{ filterExample.value3 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bind to string[]</h5>
                <p>
                    Bind to a simple string array as source.
                </p>

                [source]="stringArray"
                <ng0-select name="value1" [source]="stringArray" [(ngModel)]="value1">
                </ng0-select>


                Value: {{ value1 | json }}
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bind to number[]</h5>
                <p>
                    Bind to a simple number array as source.
                </p>

                [source]="numberArray"
                <ng0-select name="value2" [source]="numberArray" [(ngModel)]="value2">
                </ng0-select>

                Value: {{ value2 | json }}
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Bind to boolean values</h5>
                <p>
                    Set source to [true, false] to bind to boolean values.
                </p>

                [source]="[true, false]"
                <ng0-select name="value3" [source]="[true, false]" [(ngModel)]="value3">
                </ng0-select>

                Value: {{ value3 | json }}
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to Enums</h5>
                <p>
                    Pass an Enum reference as source to display the enum items.
                </p>

                [source]="Sexuality"
                <ng0-select name="value7" [source]="Sexuality" [(ngModel)]="value7">
                </ng0-select>

                Value: {{ value7 | json}}
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to objects</h5>
                <p>
                    Pass an object array as source.
                </p>

                [source]="personList1"
                <ng0-select name="value8" [source]="personList1" [(ngModel)]="value8">
                </ng0-select>

                Value: {{ value8 | json }}

            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Format items</h5>
                <p>
                    Format the display of items in the dropdown and in the input field.
                    To format a value, you need a formatter function. <br>
                    There is a set of built-in formatters available, or you can create your own custom formatters.
                </p>

                Some built-in formatters:
                <ul>
                    <li>Field formatter</li>
                    <li>Number formatter</li>
                    <li>Currency formatter</li>
                    <li>Locale formatter</li>
                </ul>

                To see the list of available built-in formatters, check the
                <a routerLink="../../localization/formatters">formatters documentation</a> .
            </div>

            <div class="card-footer">
                <h6>Field formatter:</h6>
                <p>
                    A field formatter uses a field name of the object to display the value.
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        [source]="personList1"; formatBy="name"
                        <ng0-select name="value9" [(ngModel)]="value9" [source]="personList1" formatBy="name">
                        </ng0-select>

                        Value: {{ value9 | json }}
                    </div>
                </div>
            </div>


            <div class="card-footer">
                <h6>Locale formatter:</h6>
                <p>
                    A locale formatter, formats the value according to the current locale. <br>
                    To use a locale formatter, specify the formatter name prefixed with an @ (e.g., &#64;formatterName).
                </p>

                <div class="row g-4">
                    <div class="col-xl-6">
                        [source]="personList1" formatBy="@personFormatter1"
                        <ng0-select name="value18" [(ngModel)]="value18" [source]="personList1"
                                    formatBy="@personFormatter1">
                        </ng0-select>

                        Value: {{ value18 | json}}
                    </div>

                    <div class="col-xl-6">
                        [source]="[true, false]"; formatBy="@boolean:OnOff"
                        <ng0-select name="value4" [source]="[true, false]" [(ngModel)]="value4"
                                    formatBy="@boolean:OnOff">
                        </ng0-select>
                        Value: {{ value4 | json }}
                    </div>

                    <div class="col-xl-6">
                        formatBy="@boolean:EnableDisable"
                        <ng0-select name="value5" [source]="[true, false]" [(ngModel)]="value5"
                                    formatBy="@boolean:EnableDisable">
                        </ng0-select>
                        Value: {{ value5 | json }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h6>Custom formatter:</h6>
                Using a formatBy function: [formatBy]="<i class="text-info">functionName</i>"

                <div class="row g-4">
                    <div class="col-xl-6">
                        [source]="personList1" [formatBy]="personFormatterFunc"
                        <ng0-select name="value17" [(ngModel)]="value17" [source]="personList1"
                                    [formatBy]="personFormatterFunc">
                        </ng0-select>

                        Value: {{ value17 | json}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Compare items:</h5>

                <p>
                    Compare source items with the selected value(s) by a specific field or by a custom function. <br>
                    This is useful when the source items are objects and the selected value(s) are not the same object
                    instances.
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        compare by a field of an object:
                        <ng0-select name="value19" [source]="personList1" [(ngModel)]="value19" compareBy="id"
                                    formatBy="name">
                        </ng0-select>

                        Value: {{ value19 | json }}
                    </div>

                    <div class="col-xl-3">
                        compare by a custom function:
                        <ng0-select name="value20"
                                    [source]="personList1"
                                    [(ngModel)]="value20"
                                    [compareBy]="personComparer1"
                                    formatBy="name">
                        </ng0-select>

                        Value: {{ value20 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custom value writer:</h5>

                <p>
                    Write back the selected value(s) by a specific field or by a custom function. <br>
                    This is useful when you want to bind the component to a specific property of an object instead of
                    the whole object.
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        With writeBy
                        <ng0-select name="value10" [source]="personList1" [(ngModel)]="value10" writeBy="id"
                                    compareBy="id" formatBy="name">
                        </ng0-select>

                        Value: {{ value10 | json }}
                    </div>

                    <div class="col-xl-3">
                        With formatBy + writeBy
                        <ng0-select name="value11"
                                    [source]="personList1"
                                    [(ngModel)]="value11"
                                    compareBy="id"
                                    formatBy="name">
                        </ng0-select>

                        Value: {{ value11 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custom Item templates</h5>
                <p>
                    You can customize the display of items in the select dropdown by using ng-template.
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Select an object
                        <ng0-select name="value14" [source]="personList1" [(ngModel)]="value14"
                                    formatBy="name">
                            <ng-template let-option>
                                <div class="py-1">
                                    ❤️
                                    <strong>{{option.value.name}}</strong> <br>
                                    <small>Extra info about {{option.value.name}}</small>
                                </div>
                            </ng-template>
                        </ng0-select>

                        Value: {{ value14 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Handle empty item</h5>
                <p>
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Default
                        <ng0-select name="value16" [source]="[true, false]" [(ngModel)]="value16"
                                    formatBy="boolean">
                        </ng0-select>

                        value: {{ value16 | json }}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>