{{_selectedValue()}}

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="_el.nativeElement"
             [cdkConnectedOverlayOpen]="open()"
             (overlayOutsideClick)="open.set(false)"
             (detach)="open.set(false)">
    <ul class="dropdown-menu"
        [attr.tabindex]="_isDisabled() ? undefined : -1"
        [class.is-open]="open()">

        @for (o of _options(); track $index) {
        <li
            [id]="'ng0-option-' + $index"
            class="dropdown-item"
            [class.active]="o === _activeValue()"
            [class.ng0-option-selected]="o === _selectedValue()"
            (click)="select($index); open.set(false)"
            (keyup.enter)="open.set(false)">
            @if(_optionTemplate) {
            <ng-container *ngTemplateOutlet="_optionTemplate; context: { $implicit: o }" />
            } @else {
            {{o}}
            }
        </li>
        }
    </ul>
</ng-template>