@if(multiple()) {

} @else {
@if(_selectedItems.size > 0) {
{{formatBy()(_selectedItems.values().next().value)}}
}
}

@if(source().isLoading()) {
<div class="spinner-border text-success spinner-border-sm ng0-select-spinner" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
}

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="_elementRef.nativeElement"
             [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
             [cdkConnectedOverlayOpen]="open()"
             [cdkConnectedOverlayPush]="false"
             [cdkConnectedOverlayFlexibleDimensions]="true"
             [cdkConnectedOverlayPanelClass]="['ng0-select-dropdown']"
             [cdkConnectedOverlayWidth]="_elementRef.nativeElement.clientWidth"
             (overlayOutsideClick)="open.set(false)"
             (attach)="_onOverlayAttach()"
             (detach)="_onOverlayDetach()">

    @if(filterable()) {
    <div class="ng0-select-filter-container">
        <input #filterInput
               type="text"
               class="ng0-select-filter-input"
               [attr.placeholder]="filterPlaceholder()"
               (blur)="_onFilterBlur()">
    </div>
    }

    <ng0-list #list
              ng0-list-unstyled-
              [source]="source()"
              [multiple]="multiple()"
              [filterBy]="filterBy()"
              [formatBy]="formatBy()"
              [compareBy]="compareBy()"
              focusMode="none"
              (mousedown)="$event.preventDefault(); $event.stopImmediatePropagation()"
              (selectionChange)="_onListSelectionChange($event)">

        <ng-template let-option>
            @if(itemTemplate) {
            <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: option}" />
            }@else {
            {{formatBy()(option.value)}}
            }
        </ng-template>

    </ng0-list>
</ng-template>