ng0-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex !important;
    align-items: center;
    min-height: 2rem;

    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.ng0-select-dropdown {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    overflow-y: auto;

    // ng0-list {
    //     border: none;
    //     border-radius: 0;
    // }

    // box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);

    .ng0-select-filter-container {
        padding: 0.5rem;
        background-color: inherit;

        .ng0-select-filter-input {
            width: 100%;
            border: 1px solid var(--bs-border-color);
            padding: .25rem;
            &:focus,
            &:focus-visible {
                outline: 0;
                // box-shadow: var(--bs-focus-ring-x, 0) var(--bs-focus-ring-y, 0) var(--bs-focus-ring-blur, 0) var(--bs-focus-ring-width) var(--bs-focus-ring-color);
            }
        }
    }
}



// /* Chrome, Edge, Safari */
// ::-webkit-scrollbar {
//     width: 8px;
//     /* vertical scrollbar */
//     height: 8px;
//     /* horizontal scrollbar */
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
//     /* or rgba(0,0,0,0.1) */
// }

// ::-webkit-scrollbar-thumb {
//     background: rgba(0, 0, 0, 0.4);
//     border-radius: 4px;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: rgba(0, 0, 0, 0.6);
// }