@let value = _selectedItemIndex() > -1 ? _items()[_selectedItemIndex()].value : undefined;

@if(_labelDirective?.templateRef) {
<ng-container *ngTemplateOutlet="_labelDirective!.templateRef; context: { $implicit: value}" />
} @else {
{{ value }}
}

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="_el.nativeElement"
             [cdkConnectedOverlayPositionStrategy]="_positionStrategy"
             [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
             [cdkConnectedOverlayOpen]="open()"
             [cdkConnectedOverlayPush]="false"
             [cdkConnectedOverlayFlexibleDimensions]="true"
             [cdkConnectedOverlayPanelClass]="['ng0-select-dropdown-container', 'shadow']"
             [cdkConnectedOverlayWidth]="_el.nativeElement.clientWidth"
             (overlayOutsideClick)="open.set(false)"
             (attach)="_onOverlayAttach()"
             (detach)="_onOverlayDetach()">

    @if(filterable()) {
    <div class="ng0-select-filter-container border-bottom">
        <input #filterInput
               type="text" class="ng0-select-filter-input form-control form-control-sm"
               [attr.placeholder]="filterPlaceholder()"
               (keydown)="_onKeydown($event, true)"
               (blur)="_onFilterBlur()"
               (input)="_filterItems($event.target.value)">
    </div>
    }

    <ul class="ng0-select-dropdown"
        [attr.tabindex]="_isDisabled() ? undefined : -1"
        [class.is-open]="open()">

        @for (i of _items(); track $index) {
        <li
            [attr.id]="i.id"
            class="ng0-select-item"
            [class.ng0-select-item-active]="i.active"
            [class.ng0-select-item-selected]="i.selected"
            [class.ng0-select-item-filtered]="i.filtered"
            (click)="select($index); open.set(false)"
            (keyup.enter)="open.set(false)">
            @if(_optionDirective?.templateRef) {
            <ng-container *ngTemplateOutlet="_optionDirective!.templateRef; context: { $implicit: i.value}" />
            } @else {
            {{i}}
            }
        </li>
        }
    </ul>
</ng-template>