:host {
    &.is-open {
        border-end-start-radius: 0;
    }
}

ul {
    display: block; // override bootstrap hidden
    width: 100%;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    &.is-open {
        border-top: none;
    }
}