<ng0-modal (closeRequest)="show = false" *ngIf="show" [centered]="false"  size="xl" (backdropClick)="show = false">
    <div class="modal-header">
        <h1>Modal Header</h1>
    </div>
    <div class="modal-body">
        <p>This is a modal</p>
    </div>
    
    <!-- <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1>
    <h1>This is a modal</h1> -->

    <div class="modal-footer">
        aaaaaaaaaa
    </div>
</ng0-modal>


<button (click)="show = true">Show</button>