ng0-vmenu-item {
    display: block;
}

.ng0-vmenu-item-content {
    border-radius: 0.3rem;
    transition: background-color .3s;

    // &:hover:not(:has(a.active))
    &:hover:not(:has(a.active)) {
        background-color: var(--bs-light);
    }
}

.ng0-vmenu-item-expander,
.ng0-vmenu-item-link {
    padding: 0.2rem 0.5rem;
    display: flex;
    cursor: pointer;
    color: inherit;
}

.ng0-vmenu-item-link {
    text-decoration: none;

    &.active {
        color: var(--bs-primary);
    }
}

// Active category
ng0-vmenu-item:has(a.active) .ng0-vmenu-item-expander {
    font-weight: 500;
}

.ng0-vmenu-item-icon {
    // margin-inline-end: .5rem;
}

.ng0-vmenu-item-text {
    flex-grow: 1;
}