<div class="ng0-vmenu-item-content">
    @if(children) {
    <div class="ng0-vmenu-item-expander" (click)="_onExpanderClick($event)">
        @if(icon()) {
        <span class="ng0-vmenu-item-icon">
            <i [ngClass]="icon()"></i>
        </span>
        }
        <span class="ng0-vmenu-item-text">
            {{text()}}
        </span>
        <div class="ng0-vmenu-item-expander-icon">
            >
        </div>
    </div>
    }@else {
    <a class="ng0-vmenu-item-link"
       [routerLink]="link()"
       [attr.target]="target()"
       routerLinkActive="active"
       (isActiveChange)="_onActiveChange($event)">
        @if(icon()) {
        <span class="ng0-vmenu-item-icon">
            <i [ngClass]="icon()"></i>
        </span>
        }

        {{text()}}
    </a>
    }
</div>

<ng-content select="ng0-vmenu-children"></ng-content>