@let itemTemplate = _menuState.itemTemplate();

<div class="ng0-vmenu-item-content">
    @if(hasChildren()) {
    <div class="ng0-vmenu-item-expander"
         [class.ng0-expanded]="isExpanded()"
         (click)="_onExpanderClick($event)">
        @if(itemTemplate) {
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: this }"></ng-container>
        }@else {
        @if(icon()) {
        <i class="ng0-vmenu-item-icon" [ngClass]="icon()"></i>
        }
        <span class="ng0-vmenu-item-text">
            {{text()}}
        </span>
        <div class="ng0-vmenu-item-expander-icon">
            ❯
        </div>
        }

    </div>
    }@else {
    <a class="ng0-vmenu-item-link"
       [routerLink]="link()"
       [attr.href]="href()"
       [attr.target]="target()"
       routerLinkActive="ng0-active"
       (isActiveChange)="_onRouteChange($event)">

        @if(itemTemplate) {
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: this }"></ng-container>
        }@else {
        @if(icon()) {
        <i class="ng0-vmenu-item-icon" [ngClass]="icon()"></i>
        }
        {{text()}}
        }
    </a>
    }
</div>

<ng-content></ng-content>