ng0-vmenu-item {
    display: block;
}

.ng0-vmenu-item-content {
    border-radius: 0.3rem;
    transition: background-color .3s;

    &:hover:not(:has(a.ng0-active)) {
        background-color: var(--bs-light);
    }
}

.ng0-vmenu-item-expander,
.ng0-vmenu-item-link {
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    color: inherit;
}

.ng0-vmenu-item-expander.ng0-expanded {
    .ng0-vmenu-item-expand-icon {
        transform: rotateZ(90deg);
    }
}


.ng0-vmenu-item-link {
    text-decoration: none;

    &.active {
        color: var(--bs-primary);
    }
}

.ng0-vmenu-item-text {
    flex-grow: 1;
}

.ng0-vmenu-item-expand-icon {
    transition: transform var(--ng0-collapse-transition-duration);
    // margin-inline-end: .5rem;
}

// Active items
ng0-vmenu-item.ng0-active,
ng0-vmenu-item.ng0-active-route {
    .ng0-vmenu-item-content {
        font-weight: 500;
    }
}

.ng0-vmenu-item-link.ng0-active {
    color: var(--bs-primary);
}

.ng0-vmenu-item-end {
    margin-inline-start: auto;
}

.ng0-vmenu-item-tag {
    margin-inline-start: 1rem;
    padding: 0 .4rem;
    border-radius: .4rem;
    font-size: small;
    font-weight: normal;
    // border: 1px solid var(--bs-secondary-subtle);
    color: var(--bs-dark);
    background-color: var(--bs-warning);
}