<div class="ng0-vmenu-item-content" (click)="_onContentClick($event)">
    @if(icon()) {
    <i class="ng0-vmenu-item-icon" [ngClass]="icon()"></i>
    }

    @if(text()) {
    <span class="ng0-vmenu-item-text">
        @if(link()) {
        <a
           [routerLink]="link()"
           [attr.target]="target()"
           routerLinkActive="active"
           (isActiveChange)="_onActiveChange($event)">{{text()}}</a>
        }@else {
        {{text()}}
        }
    </span>
    }

    @if(children != null) {
    <div class="ng0-vmenu-item-expander">
        >
    </div>
    }
</div>

<ng-content></ng-content>