@let user = _userStore.user();

<ng-content></ng-content>

<ng-container *ngTemplateOutlet="menuItemTemplate; context: { $implicit: items()}" />

<ng-template #menuItemTemplate let-items>
    @for (item of items; track $index) {
    @if ((!item.claim) || (user && user.hasClaim(item.claim))) {
    @switch (item.type) {
    @case('divider') {
    <ng0-vmenu-divider></ng0-vmenu-divider>
    }
    @case('group') {
    <ng0-vmenu-group [text]="item.text">
        <ng-container *ngTemplateOutlet="menuItemTemplate; context: { $implicit: item.children}" />
    </ng0-vmenu-group>
    }
    @case('item') {
    <ng0-vmenu-item [text]="item.text" [link]="item.routerLink" [target]="item.target">
        @if (item.children != undefined) {
        <ng0-vmenu-item-children [(expanded)]="item.expanded">
            <ng-container *ngTemplateOutlet="menuItemTemplate; context: { $implicit: item.children }" />
        </ng0-vmenu-item-children>
        }
    </ng0-vmenu-item>
    }
    }
    }
    }
</ng-template>