<button class="btn btn-secondary" (click)="onClick()">
    Show a secondary sidenav
</button>

<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>
<p>This is page content</p>

<ng-template #t>
    <div class="position-sticky" style="top: 0;">
        Header
    </div>
    <button (click)="sidenav.size.set('large')">Large</button>

    <p style="height: 1200px;">This is Sidenav content</p>
</ng-template>