$body-bg: #f8f9fa !default;
$card-bg: white !default;

@import '@angular/cdk/overlay-prebuilt.css';
@import './../node_modules/bootstrap/scss/bootstrap.scss';
// @import  '../public/css/bootstrap.css';
// @import  '../public/css/bootstrap.rtl.css';


// @import '~prismjs/themes/prism.css';


// body {
//     padding: 5rem;
//     min-height: 100vh;
// }



section {
    margin-bottom: 2rem;
}

mark {
    border-radius: .3rem !important;
    padding: 0 .2rem;
    font-style: italic;
}

.card {
    .card-title {
        margin-bottom: 1.5rem !important;
        // background-color: transparent !important;
    }

    .card-footer {
        // background-color: transparent !important;
    }

    &.example-card {
        height: 100%;
    }
}