@use '@angular/cdk/overlay-prebuilt.css';
// @use  './../node_modules/bootstrap/scss/bootstrap.scss';
// @import  '../public/css/bootstrap.css';
@import  '../public/css/bootstrap.rtl.css';


// @import '~prismjs/themes/prism.css';


// body {
//     padding: 5rem;
//     min-height: 100vh;
// }

section {
    margin-bottom: 2rem;
}

mark {
    border-radius: .3rem !important;
    padding: 0 .2rem;
    font-style: italic;
}