@let _selectedPage = selectedPage();

<nav>
  <ul class="pagination">
    @if(showFirstButton()) {
    <li class="page-item" [class.disabled]="_selectedPage <= 1">
      <button class="page-link" (click)="itemClick.emit(1)">First</button>
    </li>
    }

    @if(showPreviousButton()) {
    <li class="page-item" [class.disabled]="_selectedPage <= 1">
      <button class="page-link" (click)="itemClick.emit(_selectedPage - 1)">Previous</button>
    </li>
    }

    @for (page of _visiblePages(); track page) {
    <li class="page-item"  [class.active]="_selectedPage === page">
      <button class="page-link" (click)="itemClick.emit(page)">{{page}}</button>
    </li>
    }

    @if(showNextButton()) {
    <li class="page-item" [class.disabled]="_selectedPage >= _totalPagesCount">
      <button class="page-link" (click)="itemClick.emit(_selectedPage + 1)">Next</button>
    </li>
    }

    @if(showLastButton()) {
    <li class="page-item" [class.disabled]="_selectedPage >= _totalPagesCount">
      <button class="page-link" (click)="itemClick.emit(_totalPagesCount)">Last</button>
    </li>
    }
  </ul>
</nav>