<div class="row g-4">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Native list</h5>

                <div class="input-group">
                    <select class="form-select" multiple>
                        @for (item of stringArray; track $index) {
                        <option>{{item}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Style</h5>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>Default, without any style</p>
                        <ng0-list name="value21" [source]="stringArray" [(ngModel)]="value21" [showIndicator]="true">
                        </ng0-list>
                        Value: {{ value21 }}
                    </div>
                    <div class="col-12 col-md-6">
                        <p>Using "list-group" class </p>
                        <ng0-list name="value22" [source]="stringArray" [(ngModel)]="value22"
                                  [showIndicator]="true" class="list-group" itemClass="list-group-item">
                        </ng0-list>

                        Value: {{ value22 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Single selection</h5>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>Without selection indicator</p>
                        <ng0-list name="value1" [source]="stringArray" [(ngModel)]="value1">
                        </ng0-list>
                        Value: {{ value1 }}
                    </div>
                    <div class="col-12 col-md-6">
                        <p>With selection indicator</p>
                        <ng0-list name="value2" [source]="stringArray" [(ngModel)]="value2"
                                  [showIndicator]="true">
                        </ng0-list>

                        Value: {{ value2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Multi selection</h5>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <p>Without selection indicator</p>
                        <ng0-list name="value3" [source]="stringArray" [(ngModel)]="value3"
                                  multiple="true">
                        </ng0-list>
                        Value: [{{ value3 }}]
                    </div>
                    <div class="col-12 col-md-6">
                        <p>With selection indicator</p>
                        <ng0-list name="value4" [source]="stringArray" [(ngModel)]="value4"
                                  multiple="true" [showIndicator]="true">
                        </ng0-list>

                        Value: [{{ value4 }}]
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to boolean values</h5>
                <p>
                    Using localization formatBys for boolean values you can display different text for true/false
                    values.
                    The formatBys are defined in the locale files.
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Default
                        <ng0-list name="value5" [source]="[true, false]" [(ngModel)]="value5"
                                  formatBy="boolean">
                        </ng0-list>

                        Value: {{ value5 }}
                    </div>

                    <div class="col-xl-3">
                        On/Off
                        <ng0-list name="value6" [source]="[true, false]" [(ngModel)]="value6"
                                  formatBy="boolean:OnOff">
                        </ng0-list>
                        Value: {{ value6 }}
                    </div>

                    <div class="col-xl-3">
                        Enable/Disable
                        <ng0-list name="value7" [source]="[true, false]" [(ngModel)]="value7"
                                  formatBy="boolean:EnableDisable">
                        </ng0-list>
                        Value: {{ value7 }}
                    </div>

                    <div class="col-xl-3">
                        Active/Inactive
                        <ng0-list name="value8" [source]="[true, false]" [(ngModel)]="value8"
                                  formatBy="boolean:ActiveInactive">
                        </ng0-list>
                        Value: {{ value8 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to Enums</h5>
                pass an Enum as source and use formatBy() to display the enum titles.
                <p>
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Sexuality
                        <ng0-list name="value18" [source]="Sexuality" [(ngModel)]="value18"
                                  formatBy="enum:Sexuality">
                        </ng0-list>

                        Value: {{ value18 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to objects</h5>
                <p>
                </p>
                <div class="row g-4">
                    <div class="col-xl-6">
                        Default
                        <ng0-list name="value9"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value9">
                        </ng0-list>
                        Value: {{ value9 }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h5 class="card-title">Format Items:</h5>
                <div class="row g-4">
                    <div class="col-xl-6">
                        formatBy (field name)
                        <ng0-list name="value10"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value10"
                                  formatBy="field:name">
                        </ng0-list>

                        Value: {{ value10 }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h5 class="card-title">Compare items:</h5>
                <p>
                    Compare source items with value `[(ngModel)]` item(s).
                </p>
                <div class="row g-4">
                    <div class="col-xl-6">
                        compareBy (field)
                        <ng0-list name="selectedObject2"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value11"
                                  formatBy="field:name"
                                  compareBy="id">
                        </ng0-list>

                        Value: {{ value11 | json}}
                    </div>

                    <div class="col-xl-6">
                        compareBy (custom function)
                        <ng0-list name="value12"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value12"
                                  formatBy="field:name"
                                  [compareBy]="compareFunction1">
                        </ng0-list>

                        Value: {{ value12 | json }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <h5 class="card-title">Custom value writer:</h5>
                <div class="row g-4">
                    <div class="col-xl-6">
                        writeValueBy (field)
                        <ng0-list name="value13"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value13"
                                  formatBy="field:name"
                                  compareBy="id"
                                  writeValueBy="id">
                        </ng0-list>

                        Value: {{ value13 }}
                    </div>

                    <div class="col-xl-6">
                        writeValueBy (custom function)
                        <ng0-list name="value14"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value14"
                                  [writeValueBy]="customValueWriter1"
                                  formatBy="field:name">
                        </ng0-list>

                        Value: {{ value14 }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bind to LocalDataSource</h5>
                <p>
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Source: LocalDataSource
                        <ng0-list name="value15"
                                  [source]="localDatasource1"
                                  [(ngModel)]="value15">
                        </ng0-list>
                        Value: {{ value15 }}
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-secondary me-2" (click)="onAddToDataSource1()">Add new Item</button>
                <button class="btn btn-outline-secondary me-2" (click)="onRemoveFromLocalDataSource1()">Remove First
                    Item</button>
                <button class="btn btn-outline-secondary me-2" (click)="onReplaceLocalDataSource1()">Replace First Item
                </button>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Custom item template</h5>
                <p>
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        Select an object
                        <ng0-list name="value16"
                                  [source]="objectsSource1"
                                  [(ngModel)]="value16"
                                  writeValueBy="id"
                                  formatBy="field:name">
                            <ng-template let-option>
                                <div class="py-1">
                                    ❤️ This is <strong>option {{option.value.id}}</strong> <br>
                                    <small class="text-muted">This is extra info about item {{option.value.id}}</small>
                                </div>
                            </ng-template>
                        </ng0-list>

                        Value: {{ value16 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Filter</h5>
                <p>
                </p>

                <div class="row">
                    <div class="col-xl-3">
                        <input class="form-control mb-3"
                               (input)="list17.filter($event.target.value)" />

                        <ng0-list #list17 name="value17"
                                  [source]="stringArray"
                                  [(ngModel)]="value17"
                                  writeValueBy="id"
                                  formatBy="field:name"
                                  filterable="true">
                            <ng-template let-option>
                                ❤️ {{option.value}}
                            </ng-template>
                        </ng0-list>

                        Value: {{ value17 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>