<h5>Default accordion</h5>
<ng0-accordion >
    <ng0-accordion-item header="Item 1">
        Item 1
    </ng0-accordion-item>

    <ng0-accordion-item header="Item 2">
        Item 2
    </ng0-accordion-item>

    <ng0-accordion-item header="Item 3">
        Item 3
    </ng0-accordion-item>
</ng0-accordion>


<h5 class="mt-5">Flush</h5>

<ng0-accordion class="accordion-flush">
    <ng0-accordion-item header="Item 1">
        Item 1
    </ng0-accordion-item>

    <ng0-accordion-item header="Item 2">
        Item 2
    </ng0-accordion-item>

    <ng0-accordion-item header="Item 3">
        Item 3
    </ng0-accordion-item>
</ng0-accordion>

