<h4 class="mb-5">
    FileValueAccessor Directive
</h4>

<p>

</p>

<div class="row g-4">
    <div class="col-lg-12">
        <div class="card example-card">
            <div class="card-body">
                <h4 class="card-title">

                </h4>
                <p>
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <ng0-form-field label="Choose a file">
                            <input type="file" ng0File class="form-control" name="f1" [(ngModel)]="f1"
                                   (ngModelChange)="f1Change()" required="" ng0MaxFileSize="100" >
                        </ng0-form-field>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>