:host {
  display: block;
}

.ng0-form-field-subscript {
  min-height: 1.5em;
  line-height: 1.5em;
  text-align: justify;
  position: relative;
  overflow: clip;

  .ng0-form-field-error {
    position: absolute;
    will-change: transform;
  }

  .ng0-form-field-hint {
    position: absolute;
  }
}

.ng0-form-field-fadein {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}