@let errorText = _errorText();
@let showRequiredIndicator = showRequired();

@if(label()) {
<label class="ng0-form-field-label">
  {{label()}}
  @if((showRequiredIndicator === true || (showRequiredIndicator == undefined && _hasRequiredControl()))) {
  <span class="ng0-form-field-required-indicator">*</span>
  }
</label>
}

@if(inputGroup()) {
<div class="input-group">
  <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
</div>
}@else {
<ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
}

<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

@if(showSubscripts()) {
<div class="ng0-form-field-subscript">
  @if(showErrors() && errorText && _ngControl?.touched) {
  <small class="ng0-form-field-error text-danger" animate.enter="ng0-form-field-fadein">
    {{errorText}}
  </small>
  }@else if(hint()) {
  <small class="ng0-form-field-hint">
    {{hint()}}
  </small>
  }
</div>
}